<#@ template hostSpecific="trueFromBase" language="C#" inherits="Since.Versioning.AssemblyVersionInfoTemplate" #>
<#@ assembly name="$(SolutionDir)\Since.Versioning\bin\$(ConfigurationName)\Since.Versioning.dll" #>
<#
	Version = "0.1.0." + Revision;
	Branch = Git.Branch;
	Pre = null;
	Post = Combine("dev", Revision, Git.Modified);
	Build = Combine("git", Git.CommitId);

	IsPublished = Git.BranchMatches("^refs/tags/v\\d\\.\\d");

	base.TransformText();
#>