<#
	Version = "0.1.0." + Revision;
	Branch = GitBranch;
	Pre = null;
	Post = Combine("dev", Revision, GitModified);
	Build = Combine("git", GitCommitId);

	IsPublished = GitBranchMatches("^refs/tags/v\\d\\.\\d");
#>
<#@ include file="Avers.ttinclude" #>