<#@ template hostSpecific="trueFromBase" language="C#" inherits="Since.Versioning.AssemblyVersionInfoTemplate" #>
<#@ assembly name="Microsoft.VisualStudio.TextTemplating.14.0.dll" #>
<#@ assembly name="Since.Versioning.dll" #>
<#
	Version = "1.0.1." + Revision;
	Branch = Git.BranchName;
	Pre = "alpha.1";
	Post = Join("dev", Revision, Git.ModifiedString ?? "");
	Build = Join("git", Git.CommitIdShort);

	IsPublished = true;//Git.BranchMatches("^refs/tags/v\\d\\.\\d");

	base.TransformText();
#>